.buttonWrapper {
    display: flex;
    flex-direction: column;
    & .button {
        width: 100px;
        height: 40px;
        outline: none;
        user-select: none;
        cursor: pointer;
        background: rgb(115, 151, 187);
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        &:hover {
            background: rgba(115, 151, 187, 0.699);
        }
        &.error {
            background: rgb(223, 156, 156);
            &:hover {
                background: rgba(223, 156, 156, 0.637);
            }
        }
        &.success {
            background: rgb(112, 176, 102);
            &:hover {
                background: rgba(112, 176, 102, 0.552);
            }
        }
        &.disabled {
            background: rgb(80, 80, 80);
            &:hover {
                background: rgb(80, 80, 80);
            }
        }
    }
}
.buttonWrapper.light {
    & .button {
        background: rgb(174, 216, 227);
        color: black;
        border: 1px solid black;
        &:hover {
            background: rgba(174, 216, 227, 0.574);
        }
        &.error {
            background: rgb(235, 131, 131);
            &:hover {
                background: rgba(235, 131, 131, 0.538);
            }
        }
        &.success {
            background: rgb(84, 187, 69);
            &:hover {
                background: rgba(85, 187, 69, 0.571);
            }
        }
        &.disabled {
            background: rgb(49, 46, 46);
            &:hover {
                background: rgba(49, 46, 46, 0.542);
            }
        }
    }
}
